---
title: issue 2261
---

{% from "block.njk" import block with context %}

<h1>{{ title }}</h1>

{% call block() %}
  {# Works #}
  {% user "shortcode" %}

  {# ERROR: TypeError: Cannot read properties of null (reading 'typename') #}
  {# {% user2 "paired shortcode 1" %}
    Hello
  {% enduser2 %} #}
{% endcall %}

{# Works #}
{%- user2 "paired shortcode 2" %}
  Hello
{% enduser2 -%}

{# Workaround #}
{%- set tmp %}
  {% user2 "paired shortcode 2" %}
    Hello
  {% enduser2 %}
{% endset -%}

{%- call block() %}
  {% user "shortcode" %}
  {{ tmp }}
{% endcall -%}
